.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos-link {
    display: flex;
    
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 5%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 255px;
    justify-content: space-between;
}

/*Mobile*/

@media screen and (max-width: 768px){
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    .videoSobre .container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    .rodapePrincipal-contatoForm {
        width: 75%;
    }
    .rodapePrincipal-contatoForm-fildset {
        justify-content: center;
    }
}